@{
    ViewBag.Title = "New Reservation";
}
@model CamelontaBooking.Models.ViewModels.ReservationViewModel
@section scripts
{
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            function calcPrice() {
                $('#DateFrom, #DateTo').parent().removeClass('has-error');
                var from = new Date($('#DateFrom').val()).setHours(0, 0, 0, 0);
                var to = new Date($('#DateTo').val()).setHours(0, 0, 0, 0);
                var now = new Date().setHours(0, 0, 0, 0);
                var hasError = false;
                if (from < now) { $('#DateFrom').parent().addClass('has-error'); hasError = true; }
                if (to < from) { $('#DateTo').parent().addClass('has-error'); hasError = true; }
                if (hasError) return;

                $('#price').val('');
                $.get("/Reservation/GetPrice", { housingId: $('#HousingId').val(), dateFrom: $('#DateFrom').val(), dateTo: $('#DateTo').val() }, function(response) { $("#price").val(response); });
            }
            $('.datepicker').datetimepicker({ format: 'YYYY-MM-DD' }).on('dp.change', function () { calcPrice(); });
            $(document).ready(function () { calcPrice() });
        });
    </script>
}
<div class="row">
    <div class="col-md-4">
        <h2>@Model.HousingName</h2>
        <p>
            <img src="~/Images/@Model.HousingImage" width="250" height="250" />
        </p>
    </div>
    <div class="col-md-8" style="margin-top:60px;">
        <div class="panel panel-primary">
            <div class="panel-heading">Make your reservation today</div>
            <div class="panel-body">

                @using (Html.BeginForm("CreateReservation", "Reservation", new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control datepicker", placeholder = "Date From" })
                    </div>

                    <div class="input-group" id='datetimepicker2'>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(m => m.DateTo, new { @class = "form-control datepicker", placeholder = "Date To" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.PersonalNumber, new { @class = "form-control", placeholder = "Personal Number" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Price</span>
                        <input id="price" type="text" class="form-control" name="price" placeholder="" readonly>
                    </div>
                    <div>
                        @Html.HiddenFor(m => m.HousingId)
                        <input id="submit" type="submit" class="btn btn-default" value="Create reservation" />
                    </div>

                }
            </div>
        </div>
    </div>
</div>
